<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的作用就是sql语句隔离，后面还有其他用途。 -->
<mapper namespace="com.mybaties.mapper.BedMapper">
<select id="findBedByBno" parameterType="String" resultType="com.po.Bed">
       select * from Bed where bno=#{bno}
</select>
<select id="findBedByCondition" parameterType="int" resultType="com.po.Bed">
       select * from Bed where bcondition=#{bcondition}
</select>

<insert id="insertBed" parameterType="com.po.Bed">
    insert into Bed (bno, bcondition, bprice) values(#{bno}, #{bcondition}, #{bprice})
</insert>
<!-- 删除 -->
<delete id="deleteBedByBno" parameterType="String">
        delete from Bed where bno = #{bno}
</delete>
<!-- 修改-->
<update id="updateBedByBno" parameterType="com.po.Bed">
    update Bed set bno=#{bno}, bcondition=#{bcondition} ,bprice=#{bprice} where bno=#{bno} 
</update>
</mapper>
